@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --radius: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
  
  .main-content {
    padding-bottom: 4rem;
  }
}

@media (min-width: 769px) {
  .hide-on-desktop {
    display: none;
  }
  
  .main-content {
    margin-left: 16rem;
  }
}
